@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Ruda:wght@400..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --nav-bg: black;
    --heading-fonts:Quattrocento;
    --text-style: Ruda, serif;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;

}
h1,h2{
    font-family: var(--heading-fonts);
}
p{
    font-family: var(--text-style);
    line-height: 1.5rem;
    font-size: 0.6rem;
    letter-spacing: 1px;
    text-decoration: underline 0.10rem rgba(255, 255, 255, 0);
  text-underline-offset: 0.2rem;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}
p:hover {
    text-decoration-color: rgba(237, 233, 233, 0.438);
    text-underline-offset: 0.4rem;
  }
.menu-content {
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
header{
    width: 100%;
    height: 70px;
    background-color: var(--nav-bg);
    color:white;
    position: fixed;
    z-index: 3;
}
header>nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-family: var(--text-style);
}
.nav-links{
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:0.7rem;
}
.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: rgb(242, 76, 76);
}

.socials{
    display: flex;
    align-items: center;
    width: 20%;
    
}
.socials a {
    margin: 0 5px;
}
#instaImg{
    position: relative;
    top:6px;
    height: 70px;
}
.hero{
    height: 100vh;
    background-image: url("./images/pizza11.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(39, 39, 39, 0.05) 0.01%, rgba(31, 31, 31, 0.0529908) 0.02%, rgba(0, 0, 0, 0.065) 13.02%, rgba(0, 0, 0, 0.5) 100%);
}
.heroContent{
    display: flex;
    position: relative;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 8.3rem;
    margin-top: 2rem;
    gap: 1rem;
    z-index: 2;
}
.hero > div > h1{
    font-size: 4rem;
    
}
.hero > div > p{
    width: 80%;
}
#hrRuler{
    width: 80%;
    height: 0.3rem;
    background-color:rgb(242, 76, 76);
    align-self: flex-start;
}
/* About us Section */
.aboutUs,.menu, .corousel{
width: 100%;
background-color: black;
color: white;
min-height: 100vh;
padding-top:60px;
}
.headers{
    width: 100%;
    height: 8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.headingHr{
    background-color: rgba(182, 40, 40, 1);
    height: 0.3rem;
    width: 20%;
}
.headers > h2{
    font-weight: 300;
    font-size: 2rem;
}
.aboutus-content{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-inline: 10%;
}
 .left,  .right{
    width: 40%;
    height: 50%;
    margin-top: 1rem;
}
.aboutus-content > .left > .hr{
    width: 80%;
    height: 0.3rem;
    background-color: rgba(242, 76, 76, 1);
    margin-bottom: 1rem;
}
.aboutus-content > .right > img{
    height: 40%;
    width: 80%;
border-radius: 10px;
}
.tiles{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.img_tiles{
    width: 50%;
}
.img_tiles > img{
    width: 90%;
}
.carousel-indicators [data-bs-target]{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}
 button[data-bs-slide="next"]{
   margin-right: 6rem;
}
button[data-bs-slide="prev"]{
   margin-left: 6rem;
}

.grid-layout{
    display:grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    padding:5% 10%;
    gap: 1rem;
}
.tiles-content_tiles > div{
 text-transform: uppercase;
 color: rgba(242, 201, 76, 1);
 transition: color 0.3s ease;
}
.tiles-content_tiles > div:hover{
    color: rgb(242, 76, 76);
}
.tiles-content_tiles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
}
@media screen and (max-width<= 768px) {
    .nav-links {
        width: 80%;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .heroContent {
        width: 80%;
        margin-left: 2rem;
    }

    .hero > div > h1 {
        font-size: 3rem;
    }

    .aboutus-content {
        flex-direction: column;
        align-items: center;
    }

    .aboutus-content .left,
    .aboutus-content .right {
        width: 90%;
    }
}